.wrapper {
  height: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .input {
    margin-bottom: 10px;
  }

  .filename {
    margin-bottom: 0;
  }

  .collapse {
    margin-bottom: 10px;
  }

  .panel {
    border: 0;
  }

  .logo {
    height: 100px;
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
  }

  .port {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .button {
      display: inline-block;
      width: 48%;
    }
  }

  .refresh {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #e8e8e8;

    .refreshRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .label {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        flex-shrink: 0;
        margin-right: 10px;
      }

      .intervalInput {
        width: 100px;
      }

      .domainSelect {
        flex: 1;
        max-width: 200px;
      }
    }
  }
}